<nav class="topnav navbar navbar-light">
  <span class="form-inline mr-auto text-muted"></span>
  <ul class="nav">
    <li class="nav-item dropdown">
      <a
        aria-expanded="false"
        aria-haspopup="true"
        class="nav-link dropdown-toggle text-muted pr-0"
        data-toggle="dropdown"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
      >
        <span class="avatar avatar-sm mt-2">
          <img
            alt="..."
            class="avatar-img rounded-circle"
            src="assets/template/assets/avatars/face-1.jpg"
          />
        </span>
        <span>&nbsp;&nbsp;{{userName}}</span>
      </a>
      <div
        aria-labelledby="navbarDropdownMenuLink"
        class="dropdown-menu dropdown-menu-right"
      >
        <a class="dropdown-item" href="#">Đổi mật khẩu</a>
        <a (click)="logout()" class="dropdown-item" href="">Đăng xuất</a>
      </div>
    </li>
  </ul>
</nav>
