<div class="row align-items-center mb-2">
  <div class="col">
    <h2 class="h5 page-title">Welcome!</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-4 mb-4">
    <div class="card shadow">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <span class="h2 mb-0">8</span>
            <p class="text-nowrap small text-muted mb-0">Tổng nhân viên</p>
          </div>
          <div class="col-auto">
            <span class="fe fe-32 fe-users text-muted mb-0"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card shadow">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <span class="h2 mb-0">8</span>
            <p class="text-nowrap small text-muted mb-0">
              Sinh nhật trong tháng
            </p>
          </div>
          <div class="col-auto">
            <span class="fe fe-32 fe-gift text-muted mb-0"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card shadow">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <span class="text-danger h2 mb-0">8</span>
            <p class="text-nowrap small text-muted mb-0">
              Hết hạn hợp đồng trong tháng
            </p>
          </div>
          <div class="col-auto">
            <span class="fe fe-32 fe-user text-muted mb-0"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card shadow">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <span class="text-success h2 mb-0">8</span>
            <p class="text-nowrap small text-muted mb-0">
              Hết hạn hợp đồng tháng tới
            </p>
          </div>
          <div class="col-auto">
            <span class="fe fe-32 fe-user text-muted mb-0"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card shadow">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <span class="text-success h2 mb-0">8</span>
            <p class="text-nowrap small text-muted mb-0">
              Nghỉ phép trong ngày
            </p>
          </div>
          <div class="col-auto">
            <span class="fe fe-32 fe-calendar text-muted mb-0"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card shadow">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <span class="text-success h2 mb-0">0/8</span>
            <p class="text-nowrap small text-muted mb-0">Nhân viên đã xếp ca</p>
          </div>
          <div class="col-auto">
            <span class="fe fe-32 fe-check-circle text-muted mb-0"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="card">
    <p-galleria
      [autoPlay]="true"
      [circular]="true"
      [numVisible]="5"
      [responsiveOptions]="responsiveOptions"
      [showIndicatorsOnItem]="true"
      [showIndicators]="true"
      [showItemNavigators]="true"
      [showThumbnails]="false"
      [value]="images"
    >
      <ng-template let-item pTemplate="item">
        <img [alt]="item.alt" [src]="item.itemImageSrc" style="width: 640px; height: 300px;"/>
      </ng-template>
      <ng-template let-item pTemplate="thumbnail">
        <div class="grid grid-nogutter justify-content-center">
          <img [alt]="item.alt" [src]="item.thumbnailImageSrc" style="width: 100%; max-height: 300px;"/>
        </div>
      </ng-template>
    </p-galleria>
  </div>
</div>
