<div class="row justify-content-center align-items-center my-3">
  <div class="col">
    <h2 class="page-title">Chào Mừng</h2>
  </div>
</div>

<div class="row items-align-baseline">
  <div class="col-md-12 col-lg-4">
    <div class="card shadow eq-card mb-4">
      <div class="card-body mb-n3">
        <div class="row items-align-baseline h-100">
          <div class="col">
            <span class="h2 mb-0">{{ totalLecturers }}</span>
            <p class="text-nowrap small text-muted mb-0">Tổng số Giảng viên</p>
          </div>
          <div class="col-auto">
            <span class="fe fe-32 fe-users text-muted mb-0"></span>
          </div>
        </div>
      </div>
      <!-- .card-body -->
    </div>
    <!-- .card -->
  </div>
  <!-- .col -->

  <div class="col-md-12 col-lg-4">
    <div class="card shadow eq-card mb-4">
      <div class="card-body mb-n3">
        <div class="row items-align-baseline h-100">
          <div class="col">
            <span class="text-success h2 mb-0">{{
              getContractualLecturer()
            }}</span>
            <p class="text-nowrap small text-muted mb-0">
              Tổng số Giảng viên cơ hữu
            </p>
          </div>
          <div class="col-auto">
            <span class="fe fe-32 fe-user-check text-muted mb-0"></span>
          </div>
        </div>
      </div>
      <!-- .card-body -->
    </div>
    <!-- .card -->
  </div>
  <!-- .col -->

  <div class="col-md-12 col-lg-4">
    <div class="card shadow eq-card mb-4">
      <div class="card-body mb-n3">
        <div class="row items-align-baseline h-100">
          <div class="col">
            <span class="text-danger h2 mb-0">{{ getVisitingLecturer() }}</span>
            <p class="text-nowrap small text-muted mb-0">
              Tổng số Giảng viên thỉnh giảng
            </p>
          </div>
          <div class="col-auto">
            <span class="fe fe-32 fe-user text-muted mb-0"></span>
          </div>
        </div>
      </div>
      <!-- .card-body -->
    </div>
    <!-- .card -->
  </div>
  <!-- .col -->
</div>

<div class="row items-align-baseline">
  <div class="col-md-12 col-lg-4">
    <div class="card shadow eq-card mb-4">
      <div class="card-body mb-n3">
        <div class="row items-align-baseline h-100">
          <div class="col">
            <span class="h2 mb-0">{{ totalSubjects }}</span>
            <p class="text-nowrap small text-muted mb-0">Tổng số Môn học</p>
          </div>
          <div class="col-auto">
            <span class="fe fe-32 fe-edit text-muted mb-0"></span>
          </div>
        </div>
      </div>
      <!-- .card-body -->
    </div>
    <!-- .card -->
  </div>
  <!-- .col -->

  <div class="col-md-12 col-lg-4">
    <div class="card shadow eq-card mb-4">
      <div class="card-body mb-n3">
        <div class="row items-align-baseline h-100">
          <div class="col">
            <span class="text-success h2 mb-0">{{
              getPracticeSubjects()
            }}</span>
            <p class="text-nowrap small text-muted mb-0">Tổng môn Thực hành</p>
          </div>
          <div class="col-auto">
            <span class="fe fe-32 fe-codepen text-muted mb-0"></span>
          </div>
        </div>
      </div>
      <!-- .card-body -->
    </div>
    <!-- .card -->
  </div>
  <!-- .col -->

  <div class="col-md-12 col-lg-4">
    <div class="card shadow eq-card mb-4">
      <div class="card-body mb-n3">
        <div class="row items-align-baseline h-100">
          <div class="col">
            <span class="text-success h2 mb-0">{{ getTheorySubjects() }}</span>
            <p class="text-nowrap small text-muted mb-0">Tổng môn Lý thuyết</p>
          </div>
          <div class="col-auto">
            <span class="fe fe-32 fe-book-open text-muted mb-0"></span>
          </div>
        </div>
      </div>
      <!-- .card-body -->
    </div>
    <!-- .card -->
  </div>
  <!-- .col -->
</div>

<div class="row justify-content-center align-items-center">
  <div class="col-md-12 col-lg-4 mb-4">
    <p-galleria
      [autoPlay]="true"
      [circular]="true"
      [numVisible]="5"
      [responsiveOptions]="responsiveOptions"
      [showIndicatorsOnItem]="true"
      [showIndicators]="true"
      [showItemNavigators]="true"
      [showThumbnails]="false"
      [value]="images"
    >
      <ng-template let-item pTemplate="item">
        <img
          [alt]="item.alt"
          [src]="item.itemImageSrc"
          style="width: 640px; height: 300px; max-width: 100%; max-height: 100%"
        />
      </ng-template>
      <ng-template let-item pTemplate="thumbnail">
        <div class="grid grid-nogutter justify-content-center">
          <img
            [alt]="item.alt"
            [src]="item.thumbnailImageSrc"
            style="width: 100%; max-height: 300px"
          />
        </div>
      </ng-template>
    </p-galleria>
  </div>
</div>
