<div class="row align-items-center my-3">
  <div class="col">
    <div class="row">
      <a ariaCurrentWhenActive="page"
         class="btn btn-sm ml-4"
         routerLink="/lecturers"
         routerLinkActive="active"
         type="button"><span class="fe fe-corner-down-left fe-24 text-muted"></span>
      </a>
      <h2 class="page-title" style="margin: 0">Thông tin chi
        tiết: {{ this.generateLevel(lecturer?.trainingProcess) }}
        {{ lecturer?.firstName }} {{ lecturer?.fullName }}
      </h2>
    </div>
  </div>
</div>
<div class="row">
  <!-- Striped rows -->
  <div class="col-md-12">
    <div class="card shadow">
      <div class="card-body">
        <div class="my-4">
          <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
            <li class="nav-item">
              <a (click)="goInfo()" [class.active]="currentTab==='info'" aria-controls="info"
                 aria-selected="true"
                 class="nav-link"
                 data-toggle="tab"
                 id="info-tab" role="tab">Thông tin cá nhân</a>
            </li>
            <li class="nav-item">
              <a (click)="goTrainingProcess()" [class.active]="currentTab==='training-process'"
                 aria-controls="training-process"
                 aria-selected="false"
                 class="nav-link "
                 data-toggle="tab"
                 id="training-process-tab" role="tab">Quá trình đào tạo</a>
            </li>
            <li class="nav-item">
              <a (click)="goCertificate()" [class.active]="currentTab==='certificate'"
                 aria-controls="certificate"
                 aria-selected="false"
                 class="nav-link "
                 data-toggle="tab"
                 id="certificate-tab" role="tab">Chứng chỉ Ngoại ngữ</a>
            </li>
            <li class="nav-item">
              <a (click)="goSatisfactionScore()" [class.active]="currentTab==='satisfaction-score'"
                 aria-controls="satisfaction-score"
                 aria-selected="false"
                 class="nav-link" data-toggle="tab"
                 id="satisfaction-score-tab" role="tab">Điểm hài lòng</a>
            </li>
            <li class="nav-item">
              <a (click)="goTeachingHistory()" [class.active]="currentTab==='teaching-history'"
                 aria-controls="teaching-history"
                 aria-selected="false"
                 class="nav-link" data-toggle="tab"
                 id="teaching-history-tab" role="tab">Lịch sử Giảng dạy</a>
            </li>
          </ul>
          <app-lecturer-info *ngIf="currentTab === 'info'" [lecturerInfo]="lecturer"></app-lecturer-info>

          <app-lecturer-training-process *ngIf="currentTab === 'training-process'"
                                         [lecturerId]="lecturer?.id"
                                         [trainingProcess]="lecturer?.trainingProcess"></app-lecturer-training-process>

          <app-lecturer-certificate *ngIf="currentTab === 'certificate'"
                                    [certificates]="lecturer?.certificate"
                                    [lecturerId]="lecturer?.id"></app-lecturer-certificate>

          <app-lecturer-satisfaction-score
            *ngIf="currentTab === 'satisfaction-score'" [lecturerId]="lecturer?.id"
            [satisfactionScore]="lecturer?.satisfactionScore"></app-lecturer-satisfaction-score>

          <app-lecturer-teaching-history
            *ngIf="currentTab === 'teaching-history'" [lecturerId]="lecturer?.id"></app-lecturer-teaching-history>
        </div> <!-- /.card-body -->
      </div>
    </div>
  </div>
  <!-- Striped rows -->
</div>

