<div class="row align-items-center my-3">
  <div class="col">
    <h2 class="page-title">Danh sách nhân viên</h2>
  </div>
  <div class="col-auto">
    <button
      class="btn btn-primary"
      routerLink="add"
      routerLinkActive="active"
      type="button"
    >
      <span class="fe fe-plus fe-16 mr-2"></span>Thêm mới
    </button>


  </div>
</div>
<div class="row">
  <!-- Striped rows -->
  <div class="col-md-12">
    <div class="card shadow">
      <div class="card-body">
        <p-table
          #dt2
          [(selection)]="selectedEmployees"
          [globalFilterFields]="[
            'employeeCode',
            'gender',
            'position.positionNameVN',
            'phone'
          ]"
          [loading]="loading"
          [paginator]="true"
          [rowsPerPageOptions]="[5, 10, 25, 50]"
          [rows]="5"
          [showCurrentPageReport]="true"
          [tableStyle]="{ 'min-width': '85rem' }"
          [value]="employees"
          currentPageReportTemplate="{first} - {last} of {totalRecords}"
          dataKey="ID"
        >
          <ng-template pTemplate="caption">
            <div class="flex">
              <button
                (click)="clear(dt2)"
                class="p-button-outlined mr-2"
                icon="pi pi-filter-slash"
                label="Clear"
                pButton
                size="small"
              ></button>
              <button
                (click)="deleteSelectedEmployees()"
                [disabled]="!selectedEmployees || !selectedEmployees.length"
                class="p-button-danger"
                icon="pi pi-trash"
                label="Delete"
                pButton
                pRipple
                size="small"
              ></button>

              <button
                (click)="exportExcel()"
                class="p-button-success ml-auto"
                icon="pi pi-file-excel"
                pButton
                pRipple
                pTooltip="XLS"
                size="small"
                tooltipPosition="bottom"
                type="button"
              ></button>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="employeeCode">
                Nhân viên
                <p-sortIcon field="employeeCode"></p-sortIcon>
              </th>
              <th pSortableColumn="gender">
                Giới tính
                <p-sortIcon field="gender"></p-sortIcon>
              </th>
              <th pSortableColumn="position.positionNameVN">
                Vị trí làm việc
                <p-sortIcon field="position.positionNameVN"></p-sortIcon>
              </th>
              <th pSortableColumn="phone">
                Thông tin liên hệ
                <p-sortIcon field="phone"></p-sortIcon>
              </th>
              <th>#</th>
            </tr>
            <tr>
              <th></th>
              <th>
                <p-columnFilter
                  field="employeeCode"
                  type="text"
                ></p-columnFilter>
              </th>
              <th>
                <p-columnFilter field="gender" type="boolean"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter
                  field="position.positionNameVN"
                  type="text"
                ></p-columnFilter>
              </th>
              <th>
                <p-columnFilter field="phone" type="text"></p-columnFilter>
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template let-employee pTemplate="body">
            <tr>
              <td>
                <p-tableCheckbox [value]="employee"></p-tableCheckbox>
              </td>
              <td>
                <div>
                  <i class="fa fa-user fe-12" style="color: darkgray"></i>
                  {{ employee.firstName }} {{ employee.fullName }}
                </div>
                <div>
                  <i
                    class="fa fa-info-circle fe-12"
                    style="color: darkgray"
                  ></i>
                  {{ employee.employeeCode }}
                </div>
              </td>
              <td>
                <div
                  *ngIf="
                    employee.gender == true;
                    then thenBlock;
                    else elseBlock
                  "
                ></div>
                <ng-template #thenBlock>
                  <i class="fa fa-male fe-12" style="color: blue"></i>
                  <span> Nam </span></ng-template
                >
                <ng-template #elseBlock
                ><i class="fa fa-female fe-12" style="color: red"></i>
                  <span>Nữ</span></ng-template
                >
              </td>
              <td>
                <div>
                  <i class="fa fa-sitemap fe-12" style="color: darkgray"></i>
                  {{ employee.department.nameDepartmentVN }}
                  ltung
                </div>
                <div>
                  <i
                    class="fa fa-newspaper-o fe-12"
                    style="color: darkgray"
                  ></i>
                  {{ employee.position.positionNameVN }}
                </div>
              </td>
              <td>
                <div>
                  <i
                    class="fa fa-birthday-cake fe-12"
                    style="color: darkgray"
                  ></i>
                  {{ employee.birthday | date : "dd/MM/YYYY" }}
                </div>
                <div>
                  <ng-template [ngIf]="employee.phone != ''"
                  ><i class="fa fa-phone fe-12" style="color: darkgray"></i>
                    {{ employee.phone }}</ng-template
                  >
                </div>
                <div>
                  <ng-template [ngIf]="employee.email != ''"
                  ><i class="fa fa-inbox fe-12" style="color: darkgray"></i>
                    {{ employee.email }}</ng-template
                  >
                </div>
              </td>
              <td>
                <button
                  [routerLink]="[employee.ID]"
                  class="p-button-rounded p-button-success mr-2"
                  icon="pi pi-pencil"
                  pButton
                  pRipple
                ></button>
                <button
                  (click)="confirmDelete(employee.ID)"
                  class="p-button-rounded p-button-warning"
                  icon="pi pi-trash"
                  pButton
                ></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5">No customers found.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  <!-- Striped rows -->
</div>
